body {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 16px;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

/* NAVIGATION */ 
/* ========== */
.navigation-header-container {
  width: 100%;
}
.name-title-container {
  padding: 28px 0 5px 0;
  text-align: center;
}
.header-name {
  font-size: 36px;
}

.header-title {
  padding: 12px;
}

.nav-links-container {
  height: 22px;
  padding: 8px;
}

.nav-links {
  padding: 0;
  margin: 0 auto;
  text-align: center;
}

.nav-links li {
  display: inline-block;
  margin: 0 13px;
}

.nav-links li:hover {
  border-bottom: 1px solid black;
  cursor: pointer;
}

.nav-links li.active {
  border-bottom: 1px solid black;
}

/* HOME PAGE */ 
/* ========== */
.home-image img {
  display: block;
  margin: 5px auto;
}

/* PORTFOLIO */ 
/* ========== */
gallery-scroll {
  display: block;
}

gallery-scroll img {
  display: block;
  margin: 5px auto;
}

.image-container {
  display: table;
  margin: 0 auto;
}

.arrow-container {
  position: absolute;
  left: 12px;
  right: 12px;
  top: 51%;
}

.arrow {
  width: 50px;
  height: 50px;
  cursor: pointer;
  opacity: 0.4;
}

.left-arrow {
  float: left;
  background-image: url('img/entypo/chevron-thin-left.svg');
}

.right-arrow {
  float: right;
  background-image: url('img/entypo/chevron-thin-right.svg');
}

.caption-container {
  position: relative;
  float: right;
  top: 24px;
}

.caption2 {
  font-size: 12px;
  font-style: italic;
}

.thumbnail-container {
  margin-top: 48px;
  margin-left: 12px;
  margin-right: 12px;
  text-align: center;
}
.thumbnail-container img {
  display: inline-block;
  padding: 2px;
  cursor: pointer;
}

.thumbnail-container img.selected {
  border: 2px solid rgba(147, 145, 146, 1);
  border-radius: 2px;
}

/* TECHNIQUE */ 
/* ========== */
.technique p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  width: 50%;
  margin: auto;
}

.technique img {
  width: 50%;
  margin: auto;
  display: block;
}


/* FOOTER */ 
/* ========== */
.social-links {
  margin-top: 125px;
  text-align: center;
}

.social-links ul {
  width: 50%;
  margin: 0 auto;
  padding: 0;
}

.social-links li {
  padding: 0;
  width: 24px;
  height: 24px;
  opacity: 0.6;
  display: inline-block;
  margin: 6px;
}

.social-links a {
  width: inherit;
  height: inherit;
  display: block;
}

.social-links .entypo:hover {
  opacity: 0.8;
  cursor: pointer;
}

.social-500px {
  background-image: url('img/entypo/500px.svg');
}

.social-twitter {
  background-image: url('img/entypo/twitter.svg');
}

.social-flickr {
  background-image: url('img/entypo/flickr.svg');
}