<div class="navigation-header-container">
  <div class="name-title-container">
    <a href='/#/'>
      <div class="header-name">Ilene Hertz</div>
      <div class="header-title">Fine Art Photographer</div>
    </a>
  </div>
  <div class="nav-links-container">
    <ul class="nav-links">
      <li ng-class="{active:isActive('/')}"><a href='/#/'>Home</a></li>
      <li ng-class="{active:isActive('/about')}"><a href='#about'>About</a></li>
      <li ng-class="{active:isActive('/portfolio')}"><a href='#portfolio'>Portfolio</a></li>
      <li ng-class="{active:isActive('/technique')}"><a href='#technique'>Technique</a></li>
      <li ng-class="{active:isActive('/blog')}"><a href='#blog'>Blog</a></li>
      <li ng-class="{active:isActive('/contact')}"><a href='#contact'>Contact</a></li>
    </ul>
  </div>
</div>
