<div class='technique'>


<br>
<br>
<br>

<p id='p1'>
  When photographing flowers I often use a macro lens and a light box.  This helps to emphasize the transparency of the petals, and to highlight the form, color, and detail that I find so compelling. It is often difficult to get everything in sharp focus when using a macro lens because I am shooting at such a close distance. Difficult, that is, until I learned about focus stacking.  
</p>

<br>
<br>

<img src="img/Technique.jpg">


<br>
<br>


<p id='p2'>
  Keeping the camera perfectly still on a tripod, I shoot a composition multiple times using the same camera settings, changing only the focal point with the help of the camera’s live view magnification option.  I end up with multiple images, sometimes as many as twenty, all seemingly the same but with each image containing a selected area that is in sharp focus.  I then import the images into Lightroom and export them as layers in Photoshop, aligning and merging the multiple “layer stack" into a single image. This technique enables me to portray the remarkable characteristics of the entire flower in sharp focus and produces an image for which the final rendition is often mistaken for a painting, rather than the photograph it is.  
</p>


<br>
<br>

<!-- <p id='p3'></p> -->



</div>